<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des clients</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-button-action (clickEvent)="noveauClient()"></app-button-action>
    </div>
  </div>
  <div class="col m-3">
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>
    <p class="text-muted" *ngIf="chargement">Chargement…</p>
    <p class="text-muted" *ngIf="!chargement && listClient.length === 0">Aucun client enregistré.</p>
    <app-details-cl-frs
      *ngFor="let client of listClient"
      [origin]="'client'"
      [partenaire]="client"
      (suppressionResult)="surSuppression($event)"
    ></app-details-cl-frs>
  </div>
</div>
