<div class="col">
  <div class="row m-3">
    <div class="col-md-8 p-0">
      <h1>Liste des utilisateurs</h1>
    </div>
    <div class="col-md-4 text-right">
      <app-button-action (clickEvent)="nouvelUtilisateur()"></app-button-action>
    </div>
  </div>
  <div class="col m-3">
    <div class="alert alert-danger" *ngIf="errorMsg">
      {{ errorMsg }}
    </div>
    <p class="text-muted" *ngIf="chargement">Chargement…</p>
    <p class="text-muted" *ngIf="!chargement && listUtilisateur.length === 0">Aucun utilisateur enregistré.</p>
    <app-detail-utilisateur
      *ngFor="let utilisateur of listUtilisateur"
      [utilisateur]="utilisateur"
      (suppressionResult)="surSuppression($event)"
    ></app-detail-utilisateur>
  </div>
</div>
